body{
    background: #B37544;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro{
    margin:30px 0px;
    font-weight: bold;

}
h1{
    color: #ffff;
    text-transform:uppercase ;
    font-weight: 800;
    text-shadow: -1px 0 black, 0 1px black,1px 0 black,0 -1px black;
     
}
p{
    font-weight: 600;


}

#first{
    margin-top: 10px;
    color: black;

}
#second{
    color: bisque;
}
#third{
    color: aquamarine;
    margin-bottom: 30px;

}
#enter{
    border: none;
    padding:  5px 15px;
    border-radius: 5px;
    color: beige;
    background-color: black;
    font-weight: normal;


}
#enter:hover{
    opacity: 0.8;

}
ul{
    text-align: left;
    margin-top: 20px;
}

li{
    list-style: none;
    padding: 10px 20px;
    color: #ffff;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid #f8ca73;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #76CFEd;


}
li:hover {
    background:#76CFE0 ;
}
li > button{
    font-weight: normal;
    background: none;
    float: right;
    color: aqua;
    font-weight: 800;

}
input{
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
    border: none;

}
.done{
    background: #51df70 !important;
    color: #ffff;
}
.delete{
    display: none;
}


    